<h1>Bookmarks</h1>

<div class="row my-2">
    <% @bookmarks.each do |bookmark| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <div class="p-3 rounded-bottom d-flex flex-column">
           <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: 'movie-img rounded-top' %>
            <strong><%= bookmark.movie.title %> <span class="text-muted font-weight-normal">• <%= bookmark.movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= bookmark.movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
              </div>
              <small class="text-right flex-shrink-0">
              <%= link_to 'Delete Bookmark', bookmark_path(bookmark), data: { turbo_method: :delete, confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{bookmark.list.name} list"}, class: 'text-danger' %></small>
              <%= link_to 'Go back to all bookmarks', lists_path %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
